<HTML>
<HEAD><TITLE>DSPAM v3 Centru de Control</TITLE>
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li id="active"><a id="current" href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performan&#x021B;&#x0103;</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Preferin&#x021B;e</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alerte</a></li>
		<li><a href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Carantin&#x0103; ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analize</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&history_page=1">Istoric</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Dac&#x0103; prime&#x0219;ti un mesaj &icirc;n aplica&#x021B;ia de email care nu a fost prins de filtru
&icirc;nainteaz&#x0103;-l (forward) la:
<strong>spam-$REMOTE_USER$$LOCAL_DOMAIN$</strong>
so that it can be analyzed and learned as SPAM. This will improve the filter's accuracy in the future.
</p>

<div class="content">
	<h3><strong>Statistici de performan&#x021B;&#x0103;</strong> - $TIME$</h3>

	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>M&#x0103;sur&#x0103;toare</th>
			<th>&nbsp;</th>
			<th>Calculat&#x0103; ca</th>
		</tr>
		<tr class="rowEven">
			<td>Acurate&#x021B;ea global&#x0103; (de la ultima resetare)</td>
			<td><strong>$OVERALL_ACCURACY$%</strong></td>
			<td class="rowDivider"><span class="small">(mesaje SPAM prinse + mesaje non-spam livrate) / Num&#x0103;rul totat de mesaje</span></td>
		</tr>
                <tr class="rowOdd">
                        <td>Identificarea spam-ului (de la ultima resetare)</td>
                        <td><strong>$SPAM_ACCURACY$%</strong></td>
                        <td class="rowDivider"><span class="small">(Numai rata de prindere a spam-ului)</td>
               </tr>
		<tr class="rowEven">
			<td>Spam ratio (of total processed)</td>
			<td><strong>$SPAM_RATIO$%</strong></td>
			<td class="rowDivider"><span class="small">Num&#x0103;rul total de mesaje spam (prinse &#x0219;i sc&#x0103;pate) / Num&#x0103;rul total de mesaje</span></td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>&nbsp;</th>
			<th>Mesaje SPAM</th>
			<th>Mesaje bune</th>
		</tr>
		<tr class="rowEven">
			<td rowspan="3" valign="top" nowrap>De la ultima resetare</td>
			<td>$TOTAL_SPAM_MISSED$ sc&#x0103;pate</td>
			<td>$TOTAL_NONSPAM_MISSED$ sc&#x0103;pate</td>
		</tr>
		<tr class="rowEven">
			<td>$TOTAL_SPAM_CAUGHT$ prinse</td>
			<td>$TOTAL_NONSPAM_CAUGHT$ livrate</td>
		</tr>
		<tr class="rowEven">
			<td>$SPAM_ACCURACY$% prinse</td>
			<td>$NONSPAM_ERROR_RATE$% sc&#x0103;pate</td>
		</tr>
		<tr class="rowOdd">
			<td rowspan="2" valign="top" nowrap>Total procesate de filtru</td>
			<td>$TOTAL_SPAM_LEARNED$ sc&#x0103;pate</td>
			<td>$TOTAL_NONSPAM_LEARNED$ sc&#x0103;pate</td>
		</tr>
		<tr class="rowOdd">
			<td>$TOTAL_SPAM_SCANNED$ prinse</td>
			<td>$TOTAL_NONSPAM_SCANNED$ livrate</td>
		</tr>
		<tr class="rowEven">
			<td valign="top" nowrap>Din corpus</td>
			<td>$TOTAL_SPAM_CORPUSFED$ fed</td>
			<td>$TOTAL_NONSPAM_CORPUSFED$ fed</td>
		</tr>
	</table>

	<p>
		<a href="$CGI$?$USER$command=resetStats&amp;language=$LANG$" title="Reseteaz&#x0103; statisticile">Reset</a> | <a href="$CGI$?$USER$command=tweak" title="Ajust&#x0103;ri pentru mesajele care sunt &icirc;naintate filtrului">Tweak -1</a>
	</p>
</div>

</div>



</body>
</html>
