<HTML>
<HEAD><TITLE>DSPAM v3 Centru de Control</TITLE>
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performan&#x021B;&#x0103;</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Preferin&#x021B;e</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alerte</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Carantin&#x0103; (Vezi)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analiz&#x0103;</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&history_page=1">Istoric</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Con&#x021B;inutul mesajelor din carantin&#x0103; este afi&#x0219;at mai jos.
</p>

<FORM ACTION="$CGI$">
<INPUT TYPE=HIDDEN NAME=signatureID VALUE="$MESSAGE_ID$">
<INPUT TYPE=HIDDEN NAME=command VALUE="processFalsePositive">
<INPUT TYPE=HIDDEN NAME=template VALUE="quarantine">
<INPUT TYPE=HIDDEN NAME=user VALUE="$REMOTE_USER$">
<input type="hidden" name="language" value="$LANG$">
<INPUT TYPE=SUBMIT VALUE="Deliver Message"> pentru c&#x0103; <strong>nu</strong> este SPAM
</FORM>
<BR>
<TEXTAREA ROWS=36 COLS=80 READONLY>
$MESSAGE$
</TEXTAREA>
</FORM>

</div>



</BODY>
</HTML>
