<HTML>
<HEAD><TITLE>DSPAM v3 Centru de Control</TITLE>
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo" /></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		Protecție Statistică Anti-SPAM pentru<strong>$REMOTE_USER$</strong>
	</div>
</div>

<br clear="left" />

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance">Performanță</a></li>
		<li><a href="$CGI$?$USER$template=preferences">Preferințe</a></li>
		<li><a href="$CGI$?$USER$template=alerts">Alerte</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=quarantine">Carantină (Vezi)</a></li>
		<li><a href="$CGI$?$USER$template=analysis">Analiză</a></li>
		<li><a href="$CGI$?$USER$template=history&history_page=1">Istoric</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Conținutul mesajelor din carantină este afișat mai jos.
</p>

<FORM ACTION="$CGI$">
<INPUT TYPE=HIDDEN NAME=signatureID VALUE="$MESSAGE_ID$">
<INPUT TYPE=HIDDEN NAME=command VALUE="processFalsePositive">
<INPUT TYPE=HIDDEN NAME=template VALUE="quarantine">
<INPUT TYPE=HIDDEN NAME=user VALUE="$REMOTE_USER$">
<INPUT TYPE=SUBMIT VALUE="Deliver Message"> pentru că <strong>nu</strong> este SPAM
</FORM>
<BR>
<TEXTAREA ROWS=36 COLS=80 READONLY>
$MESSAGE$
</TEXTAREA>
</FORM>

</div>



</BODY>
</HTML>
