<HTML>
<HEAD><TITLE>DSPAM v3 Centru de Control</TITLE>
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performan&#x021B;&#x0103;</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Preferin&#x021B;e</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alerte</a></li>
		<li><a href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Carantin&#x0103; ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analize</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&history_page=1">Istoric</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<H2>A avut loc o eroare</H2>
$MESSAGE$

</div>



</BODY>
</HTML>
