<HTML>
<HEAD><TITLE>DSPAM v3 Suita Administrativ&#x0103;</TITLE>
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo" /></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		Protec&#x021B;ie statistic&#x0103; Anti-spam pentru <strong>Administrator ($REMOTE_USER$)</strong>
	</div>
</div>

<br clear="left" />

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=status">Starea Sistemului</a></li>
		<li><a href="$CGI$?$USER$template=user">Statistici Utilizatori</a></li>
		<li><a href="$CGI$?$USER$template=preferences">Administrare</a></li>
		<li><a href="dspam.cgi">Centru de Control</a></li>
	</ul>
</div>

<div id="panel">

<H2>A avut loc o eroare</H2>
$MESSAGE$

</div>



</body>
</html>
