<HTML>
<HEAD><TITLE>DSPAM v3 &#344;&iacute;d&iacute;c&iacute; centrum</TITLE>
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
<script type="text/javascript" src="$WEB_ROOT$/dspam.js"></script>
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
                $FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">V&yacute;kon</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">P&#345;edvolby</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">V&yacute;strahy</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Karant&eacute;na ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Anal&yacute;za</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&history_page=1">Historie</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Zpr&aacute;vy n&iacute;&#382;e nebyly doru&#269;eny va&scaron;&iacute; b&#283;&#382;n&eacute; e-mailov&eacute; aplikaci, proto&#382;e se zdaj&iacute; b&yacute;t spamem.
Kliknut&iacute;m na &#345;&aacute;dku Subjekt zobraz&iacute;te zpr&aacute;vu, nebo m&#367;&#382;ete vybrat podle &#269;eho jsou zpr&aacute;vy t&#345;&iacute;d&#283;n&eacute;.
Pou&#382;ijte za&scaron;krt&aacute;vac&iacute; pol&iacute;&#269;ka a <strong>Doru&#269; za&scaron;krtnut&eacute;</strong> k doru&#269;en&iacute; zpr&aacute;v krer&eacute; chcete p&#345;e&#269;&iacute;st, nebo pou&#382;ijte <strong>Smazat v&scaron;el</strong> k vypr&aacute;zdn&#283;n&iacute; karant&eacute;ny.
</p>

<form action="$CGI$" method="post">
<p>
<input type="hidden" name="command" value="processQuarantine">
<input type="hidden" name="template" value="quarantine">
<input type="hidden" name="user" value="$REMOTE_USER$">
<input type="hidden" name="sortby" value="$SORTBY$">
<input type="hidden" name="language" value="$LANG$">
<input type="submit" value="Doru&#269; za&scaron;krtnut&eacute;" NAME="manyNotSpam">
&nbsp;
<input type="submit" value="Sma&#382; za&scaron;krtnut&eacute;" onClick="if (confirm('Opravdu chcete smazat VYBRAN&Eacute; zpr&aacute;vy v karant&eacute;n&#283;?')==false) { return false; }">
&nbsp;
<input type="button" value="Vyber 200" onClick='for(j=0; j<200;j++) { if (document.forms[1] && document.forms[1].elements[j] && document.forms[1].elements[j].type == "checkbox") { document.forms[1].elements[j].checked = true; } } return false'>
&nbsp;
<input type="submit" value="Sma&#382; v&scaron;e" name="deleteAll" onClick="if (confirm('Opravdu chcete smazat V&Scaron;ECHNY zpr&aacute;vy v karant&eacute;n&#283;?')==false) { return false; }">

</p>
<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr>
		<th>&nbsp;</th>
		$SORT_QUARANTINE$
	</tr>
$QUARANTINE$
</table>

<p>
<input type="submit" value="Doru&#269; za&scaron;krtnut&eacute;" NAME="manyNotSpam" >
&nbsp;
<input type="submit" value="Sma&#382; za&scaron;krtnut&eacute;" onClick="if (confirm('Opravdu chcete smazat VYBRAN&Eacute; zpr&aacute;vy v karant&eacute;n&#283;?')==false) { return false; }">
&nbsp;
<input type="button" value="Vyber 200" onClick='for(j=0; j<200;j++) { if (document.forms[1] && document.forms[1].elements[j] && document.forms[1].elements[j].type == "checkbox") { document.forms[1].elements[j].checked = true; } } return false'>
&nbsp;
<input type="submit" value="Sma&#382; v&scaron;e" name="deleteAll" onClick="if (confirm('Opravdu chcete smazat V&Scaron;ECHNY zpr&aacute;vy v karant&eacute;n&#283;?')==false) { return false; }">
</p>

</form>

<p>
Stupnice barev: <span class="low">Spodn&iacute; ohodnocen&iacute; SPAMu</span>, <span class="medium">St&#345;edn&iacute; ohodnocen&iacute; SPAMu, <span class="high">Vysok&eacute; ohodnocen&iacute; SPAMu</span>
</p>

</div>



</BODY>
</HTML>
