<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD><TITLE>DSPAM v3 מערכת ניהול</TITLE>
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1255">
</HEAD>
<BODY DIR="rtl" BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		מידע הגנה סטטיסטית עבור <strong>מנהל המערכת ($REMOTE_USER$)</strong>
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=status">מבצ המערכת</a></li>
		<li><a href="$CGI$?$USER$template=user">מידע משתמשים</a></li>
		<li><a href="$CGI$?$USER$template=preferences">ניהול</a></li>
		<li><a href="dspam.cgi">מרכז הבקרה</a></li>
	</ul>
</div>

<div id="panel">

<H2>ארעה שגיאה</H2>
$MESSAGE$

</div>

</body>
</html>
