<HTML>
<HEAD><TITLE>DSPAM v3 Suite Administrativa</TITLE>
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_ADMIN$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=status&amp;language=$LANG$">Status do Sistema</a></li>
		<li><a href="$CGI$?$USER$template=user&amp;language=$LANG$">Estat&iacute;sticas de Usu&aacute;rio</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Administra&ccedil;&atilde;o</a></li>
		<li><a href="dspam.cgi?language=$LANG$">Centro de Controle</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<FORM ACTION="$CGI$">

<p>
Esta p&aacute;gina permite a edi&ccedil;&atilde;o de prefer&ecirc;ncias para qualquer usu&aacute;rio. Tamb&eacute;m &eacute; poss&iacute;vel editar as prefer&ecirc;ncias padr&atilde;o deixando os campos vazios.
</p>

<p>
Nome do usu&aacute;rio:
<INPUT NAME=username VALUE=$USERNAME$> <INPUT TYPE=SUBMIT VALUE=Edit>
</p>

<p>
$ERROR$
</p>

<INPUT TYPE=HIDDEN NAME="template" VALUE="preferences">
<input type="hidden" name="language" value="$LANG$">

<div class="content">
	<h3><strong>Treinamento</strong> - Configura como o filtro aprende e processa mensagens</h3>
<table class="hollow">
<tr><td>
DSPAM deve aprender:<br><br>
<INPUT TYPE=RADIO NAME=trainingMode VALUE="TEFT" $S_TEFT$>
Com cada nova mensagem processada pelo filtro<BR>
<INPUT TYPE=RADIO NAME=trainingMode VALUE="TOE" $S_TOE$>
Apenas quando o filtro comete um engano<BR>
<INPUT TYPE=RADIO NAME=trainingMode VALUE="TUM" $S_TUM$>
Apenas com novas mensagens ou quando o filtro comete um engano
</td><td width=20>
 &nbsp;</td><td>
Quando treinar o DSPAM, eu prefiro:<br><br>
<INPUT TYPE=RADIO NAME=signatureLocation VALUE="message" $S_LOC_MESSAGE$>
<u>Encaminhar</u> meus spams (assinatura no corpo da mensgem)<BR>
<INPUT TYPE=RADIO NAME=signatureLocation VALUE="headers" $S_LOC_HEADERS$>
Colocar meus spams <u>em quarentena</u> (assinatura no cabe&ccedil;alho da mensagem)<BR>
<INPUT TYPE=RADIO NAME=signatureLocation VALUE="attachment" $S_LOC_ATTACHMENT$>
Que o DSPAM adicione a assinatura como um <u>anexo</u><BR>
</td></tr>
</table>

<p>
Sensibilidade do filtro <strong>durante</strong> o per&iacute;odo de treinamento:<br>
<span class="small">Captura SPAM (Mais em Quarentena)</span>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=0 $SEDATION_0$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=1 $SEDATION_1$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=2 $SEDATION_2$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=3 $SEDATION_3$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=4 $SEDATION_4$>
    | <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=5 $SEDATION_5$> |
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=6 $SEDATION_6$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=7 $SEDATION_7$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=8 $SEDATION_8$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=9 $SEDATION_9$>
    <INPUT TYPE=RADIO NAME=statisticalSedation VALUE=10 $SEDATION_10$> 
<span class="small">Presume Inocente (Poucos em Quarentena)</span>
</p>

</div>

<div class="content">
	<h3><strong>Tratamento de mensagens</strong> - Configura como o SPAM &eacute; tratado</h3>
<p>
Quando um SPAM &eacute; identificado:<br><br>
<INPUT TYPE=RADIO NAME=spamAction VALUE="quarantine" $S_ACTION_QUARANTINE$>Colocar a mensagem em quarentena<BR>
<INPUT TYPE=RADIO NAME=spamAction VALUE="tag" $S_ACTION_TAG$>Etiquetar o campo Assunto com: <INPUT NAME=spamSubject VALUE="$SPAM_SUBJECT$" SIZE=8><BR>
<INPUT TYPE=RADIO NAME=spamAction VALUE="deliver" $S_ACTION_DELIVER$>Entregar a mensagem normalmente adicionando X-DSPAM-Result no cabe&ccedil;alho<BR>
</p>

</div>

<div class="content">
	<h3><strong>Caracter&iacute;sticas</strong> - Ajustando filtragem de SPAM</h3>
<p>
<INPUT TYPE=CHECKBOX NAME=enableBNR $C_BNR$>
Habilita redu&ccedil;&atilde;o de ru&iacute;do, que geralmente melhora a precis&atilde;o do filtro<br>
<INPUT TYPE=CHECKBOX NAME=enableWhitelist $C_WHITELIST$>
Habilita listas brancas autom&aacute;ticas para correspond&ecirc;ncias freq&uuml;entes<br>
<INPUT TYPE=CHECKBOX NAME=showFactors $C_FACTORS$>
Adiciona tokens no cabe&ccedil;alho de cada mensagem<br>
<input type="checkbox" name="dailyQuarantineSummary" id="dailyQuarantineSummary" $C_SUMMARY$>
<label for="dailyQuarantineSummary">Habilita envio do resumo di&aacute;rio dos e-mails em quarentena</label>
</p>

</div>

<p>
<INPUT TYPE=SUBMIT NAME=submit VALUE="Submit Changes">
</p>

</FORM>

</div>



</BODY>
</HTML>
