<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 - Centre de contr&ocirc;le</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performance</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Preferences</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alerts</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Quarantine (View)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analysis</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&amp;history_page=1">History</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
The contents of the message in the quarantine is shown below.
</p>

<FORM ACTION="$CGI$">
<INPUT TYPE=HIDDEN NAME=signatureID VALUE="$MESSAGE_ID$">
<INPUT TYPE=HIDDEN NAME=command VALUE="processFalsePositive">
<INPUT TYPE=HIDDEN NAME=template VALUE="quarantine">
<INPUT TYPE=HIDDEN NAME=user VALUE="$REMOTE_USER$">
<input type="hidden" name="language" value="$LANG$">
<INPUT TYPE=SUBMIT VALUE="Deliver Message"> because it is <strong>not</strong> SPAM
</FORM>
<BR>
<TEXTAREA ROWS=36 COLS=80 READONLY>
$MESSAGE$
</TEXTAREA>
</FORM>

</div>



</BODY>
</HTML>
