<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 - Administration</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_ADMIN$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
                <li><a href="$CGI$?$USER$template=status&amp;language=$LANG$">&Eacute;tat du syst&egrave;me</a></li>
                <li><a href="$CGI$?$USER$template=user&amp;language=$LANG$">Statistiques utilisateurs</a></li>
                <li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Administration</a></li>
                <li><a href="dspam.cgi?language=$LANG$">Centre de contr&ocirc;le</a></li>
	</ul>
</div>

<div id="panel">

<H2>Une erreur s'est produite</H2>
$MESSAGE$

</div>



</body>
</html>
