<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 - Centre de contr&ocirc;le</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
                $FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
                <li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performances</a></li>
                <li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Pr&eacute;f&eacute;rences</a></li>
                <li id="active"><a id="current" href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alertes</a></li>
                <li><a href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Quarantaine ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
                <li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analyses</a></li>
                <li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&amp;history_page=1">Historique</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Les alertes vous aident &agrave; localiser les messages dans la zone de quarantaine. Si le texte d'une alerte est rep&eacute;r&eacute; dans un message, la ligne correspondante sera mise en valeur, vous aidant &agrave; identifier les messages qui pourraient ne pas &ecirc;tre des pourriels.
</p>

$ALERTS$

<FORM ACTION="$CGI$">
<INPUT TYPE=HIDDEN NAME=command VALUE=addAlert>
<INPUT TYPE=HIDDEN NAME=template VALUE=alerts>
<INPUT TYPE=HIDDEN NAME=user VALUE="$REMOTE_USER$">
<input type="hidden" name="language" value="$LANG$">
<INPUT NAME=ALERT> &nbsp;<INPUT TYPE=SUBMIT VALUE="Ajouter l'alerte">
</FORM>

</div>

</BODY>
</HTML>
