<HTML>
<HEAD><TITLE>DSPAM v3 - Administration</TITLE>
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR=#FFFFFF TEXT=#000000 LINK=#000000 VLINK=#000000 ALINK=#000000>
<div id="header">
	<div id="logo">
		<a href="$CGI$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo" /></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
                Centre de contr&ocirc;le DSPAM pour <strong>Administrateur ($REMOTE_USER$)</strong>
	</div>
</div>

<br clear="left" />

<div id="navcontainer">
	<ul id="navlist">
                <li><a href="$CGI$?$USER$template=status">&Eacute;tat du syst&egrave;me</a></li>
                <li id="active"><a id="current" href="$CGI$?$USER$template=user">Statistiques utilisateurs</a></li>
                <li><a href="$CGI$?$USER$template=preferences">Administration</a></li>
                <li><a href="dspam.cgi">Centre de contr&ocirc;le</a></li>
	</ul>
</div>

<div id="panel">

<p>
Le tableau ci-dessous montre le nombre de messages analys&eacute;s pour chaque utilisateur, ainsi que leurs pr&eacute;f&eacute;rences acutelles.
</p>

<table border="0" cellspacing="0" cellpadding="4">
	<tr>
		<th>Nom d'utilisateur</th>
		<th>Taille quarantaine</th>
		<th>TP</th>
                <th>TN</th>
		<th>FP</th>
		<th>FN</th>
		<th>SC</th>
		<th>IC</th>
		<th>Mode</th>
		<th>On Spam</th>
		<th>BNR</th>
		<th>Whitelist</th>
                <th>Sed</th>
                <th>Sig Loc</th>
	</tr>
$TABLE$
</table>

</div>



</body>
</html>
