<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head><title>DSPAM v3 Verwaltungsbereich</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="STYLESHEET" href="$WEB_ROOT$/base.css">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#000000" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" rightmargin="0">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td width="10" bgcolor="#686868">&nbsp;</td>
<td bgcolor="#686868">
<br>
<font color="white"><big>$SUBJECT$</big><br>
$FROM$<br>
<small>$TIME$ ($INFO$)</small></font><br>
<br>
</td></tr>

<tr><td width="10">&nbsp;</td>
<td>
<PRE>
$MESSAGE$
</PRE>
</td></tr></table>
</BODY>
</HTML>
