<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head><title>DSPAM v3 Verwaltungsbereich</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="STYLESHEET" href="$WEB_ROOT$/base.css">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#000000" vlink="#000000" alink="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li id="active"><a id="current" href="$CGI$?$USER$template=performance&amp;language=$LANG$">Leistungsmerkmale</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Einstellungen</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alarme</a></li>
		<li><a href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Quarant&auml;ne ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analyse</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&amp;history_page=1">Historie</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Wenn sie eine E-Mail in ihrer Mailanwendung erhalten welche nicht durch den Filter erfasst wurde, dann leiten sie die Nachricht an <strong>spam-$REMOTE_USER$$LOCAL_DOMAIN$</strong> weiter, so dass die Nachricht analysiert und als Spam gelernt werden kann. Dies steigert in Zukunft die Erkennungsrate.
</p>

<div class="content">
	<h3><strong>Statistik der Leistungsmerkmale</strong> - $TIME$</h3>

	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>Metrik</th>
			<th>&nbsp;</th>
			<th>Berechnung als</th>
		</tr>
		<tr class="rowEven">
			<td>Gesamt-Pr&auml;zision (seit letzter R&uuml;ckstellung)</td>
			<td><strong>$OVERALL_ACCURACY$%</strong></td>
			<td class="rowDivider"><span class="small">(SPAM Mails erkannt + Gute Mails zugestellt) / Anzahl der Nachrichten</span></td>
		</tr>
                <tr class="rowOdd">
                        <td>Spam Erkennung (seit letzter R&uuml;ckstellung)</td>
                        <td><strong>$SPAM_ACCURACY$%</strong></td>
                        <td class="rowDivider"><span class="small">(Spam Erkennungsrate einzeln)</span></td>
               </tr>
		<tr class="rowEven">
			<td>Spam Anteil (der verarbeiteten Nachrichten)</td>
			<td><strong>$SPAM_RATIO$%</strong></td>
			<td class="rowDivider"><span class="small">Alle SPAM Mails (erkannt + nicht erkannt) / Anzahl der Nachrichten</span></td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>&nbsp;</th>
			<th>SPAM Mails</th>
			<th>Nicht SPAM Mails</th>
		</tr>
		<tr class="rowEven">
			<td rowspan="3" valign="top" nowrap>Seit letzter R&uuml;ckstellung</td>
			<td>$TOTAL_SPAM_MISSED$ nicht erkannt</td>
			<td>$TOTAL_NONSPAM_MISSED$ nicht erkannt</td>
		</tr>
		<tr class="rowEven">
			<td>$TOTAL_SPAM_CAUGHT$ erkannt</td>
			<td>$TOTAL_NONSPAM_CAUGHT$ zugestellt</td>
		</tr>
		<tr class="rowEven">
			<td>$SPAM_ACCURACY$% erkannt</td>
			<td>$NONSPAM_ERROR_RATE$% nicht erkannt</td>
		</tr>
		<tr class="rowOdd">
			<td rowspan="2" valign="top" nowrap>Durch Filter verarbeitete Mails</td>
			<td>$TOTAL_SPAM_LEARNED$ nicht erkannt</td>
			<td>$TOTAL_NONSPAM_LEARNED$ nicht erkannt</td>
		</tr>
		<tr class="rowOdd">
			<td>$TOTAL_SPAM_SCANNED$ erkannt</td>
			<td>$TOTAL_NONSPAM_SCANNED$ zugestellt</td>
		</tr>
		<tr class="rowEven">
			<td valign="top" nowrap>Korpuszufuhr</td>
			<td>$TOTAL_SPAM_CORPUSFED$ Einspeisungen</td>
			<td>$TOTAL_NONSPAM_CORPUSFED$ Einspeisungen</td>
		</tr>
	</table>

	<p>
		<a href="$CGI$?$USER$command=resetStats&amp;language=$LANG$" title="Zur&uuml;cksetzen der Statistik">Zur&uuml;cksetzen</a> | <a href="$CGI$?$USER$command=tweak" title="Feineinstellung f&uuml;r Nachrichten welche zum Filter weitergeleitet wurden">Optimiere -1</a>
	</p>
</div>

</div>

</BODY>
</HTML>
