<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD><TITLE>DSPAM v3 Verwaltungsbereich</TITLE>
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		Statistischer SPAM Schutz f&uuml;r <strong>$REMOTE_USER$</strong>
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance">Leistungsmerkmale</a></li>
		<li><a href="$CGI$?$USER$template=preferences">Einstellungen</a></li>
		<li><a href="$CGI$?$USER$template=alerts">Alarme</a></li>
		<li><a href="$CGI$?$USER$template=quarantine">Quarant&auml;ne ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=analysis">Analysis</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;history_page=1">Historie</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
Die Grafiken unten zeigen die Anzahl der verarbeiteten Nachrichten.
</p>

<div class="content">
	<h3><strong>24 Stunden Aktivit&auml;t</strong> - $TS_DAILY$ SPAM, $TI_DAILY$ Gut</h3>

	<img src="./graph.cgi?data=$DATA_DAILY$&amp,x_label=Stunde+des+Tages" alt="tag">
</div>

<div class="content">
	<h3><strong>14 Tage Aktivit&auml;t</strong> - $TS_WEEKLY$ SPAM, $TI_WEEKLY$ Gut</h3>
	<img src="./graph.cgi?data=$DATA_WEEKLY$&amp;graph=period&amp;x_label=Datum" alt="woche">
</div>

</div>



</BODY>
</HTML>
