<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 Control Center: $SUBJECT$</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr>
<td width=10 bgcolor="#686868"> &nbsp;</td>
<td bgcolor="#686868">
<br>
<font color=white><big>$SUBJECT$</big><br>
$FROM$<br>
<small>$TIME$ ($INFO$)</small></font><br>
<br>
</td></tr>

<tr><td width=10> &nbsp;</td>
<td>
<PRE>
$MESSAGE$
</PRE>
</td></tr></table>
</body>
</html>


