<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 Control Center</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
<script type="text/javascript" src="$WEB_ROOT$/dspam.js"></script>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
                $FORM_USER$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li><a href="$CGI$?$USER$template=performance&amp;language=$LANG$">Performance</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Preferences</a></li>
		<li><a href="$CGI$?$USER$template=alerts&amp;language=$LANG$">Alerts</a></li>
		<li id="active"><a id="current" href="$CGI$?$USER$template=quarantine&amp;language=$LANG$">Quarantine ($TOTAL_QUARANTINED_MESSAGES$)</a></li>
		<li><a href="$CGI$?$USER$template=analysis&amp;language=$LANG$">Analysis</a></li>
		<li><a href="$CGI$?$USER$template=history&amp;language=$LANG$&amp;history_page=1">History</a></li>
		$NAV_ADMIN$
	</ul>
</div>

<div id="panel">

<p>
The messages below have not been been delivered to your normal e-mail application because they are believed to be spam.
Click on the Subject line to view the message or choose a sort option to
change how messages are sorted.
Use the checkboxes and <strong>Deliver Checked</strong> to deliver messages you want to read, or use <strong>Delete All</strong> to empty the quarantine.
</p>

<form action="$CGI$" method="post">
<p>
<input type="hidden" name="command" value="processQuarantine">
<input type="hidden" name="template" value="quarantine">
<input type="hidden" name="user" value="$REMOTE_USER$">
<input type="hidden" name="sortby" value="$SORTBY$">
<input type="hidden" name="language" value="$LANG$">
<input type="submit" value="Deliver Checked" NAME="manyNotSpam" >
&nbsp;
<input type="submit" value="Delete Checked" onClick="if (confirm('Are you sure you want to delete SELECTED messages in quarantine?')==false) { return false; }">
&nbsp;
<input type="button" value="Select 200" onClick='for(j=0; j<200;j++) { if (document.forms[1] && document.forms[1].elements[j] && document.forms[1].elements[j].type == "checkbox") { document.forms[1].elements[j].checked = true; } } return false'>
&nbsp;
<input type="submit" value="Delete All" name="deleteAll" onClick="if (confirm('Are you sure you want to delete ALL messages in quarantine?')==false) { return false; }" >

</p>
<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr>
		<th>&nbsp;</th>
		$SORT_QUARANTINE$
	</tr>
$QUARANTINE$
</table>

<p>
<input type="submit" value="Deliver Checked" NAME="manyNotSpam">
&nbsp;
<input type="submit" value="Delete Checked" onClick="if (confirm('Are you sure you want to delete SELECTED messages in quarantine?')==false) { return false; }">
&nbsp;
<input type="button" value="Select 200" onClick='for(j=0; j<200;j++) { if (document.forms[1] && document.forms[1].elements[j] && document.forms[1].elements[j].type == "checkbox") { document.forms[1].elements[j].checked = true; } } return false'>
&nbsp;
<input type="submit" value="Delete All" name="deleteAll" onClick="if (confirm('Are you sure you want to delete ALL messages in quarantine?')==false) { return false; }">
</p>

</form>

<p>
Color key: <span class="low">Lower SPAM rating</span>, <span class="medium">Medium SPAM rating</span>, <span class="high">Higher SPAM rating</span>
</p>

</div>



</BODY>
</HTML>
