<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE>DSPAM v3 Administrative Suite</TITLE>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="icon" href="$WEB_ROOT$/favicon.ico" type="image/vnd.microsoft.icon">
<LINK REL="STYLESHEET" HREF="$WEB_ROOT$/base.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#000000" VLINK="#000000" ALINK="#000000">
<div id="header">
	<div id="logo">
		<a href="$CGI$?language=$LANG$" title="Home"><img src="$WEB_ROOT$/dspam-logo-small.gif" alt="DSPAM Logo"></a>
		<p>$DSPAMVERSION$</p>
	</div>
	<div id="userinfo">
		$FORM_ADMIN$
	</div>
</div>

<br clear="left">

<div id="navcontainer">
	<ul id="navlist">
		<li id="active"><a id="current" href="$CGI$?$USER$template=status&amp;language=$LANG$">System Status</a></li>
		<li><a href="$CGI$?$USER$template=user&amp;language=$LANG$">User Statistics</a></li>
		<li><a href="$CGI$?$USER$template=preferences&amp;language=$LANG$">Administration</a></li>
		<li><a href="dspam.cgi?language=$LANG$">Control Center</a></li>
	</ul>
</div>

<div id="panel">

<p>
The following graphs and tables summarize the processing done by the filter.
</p>

<div class="content">
	<h3><strong>Overview</strong></h3>
			
	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>Messages</th>
			<th>Today</th>
			<th>This Hour</th>
		</tr>
		<tr class="rowEven">
			<td>Spam</td>
			<td>$SPAM_TODAY$</td>
			<td>$SPAM_THIS_HOUR$</td>
		</tr>
		<tr class="rowOdd">
			<td>Good</td>
			<td>$NONSPAM_TODAY$</td>
			<td>$NONSPAM_THIS_HOUR$</td>
		</tr>
		<tr class="rowEven">
			<td>Spam Misses</td>
			<td>$SM_TODAY$</td>
			<td>$SM_THIS_HOUR$</td>
		</tr>
		<tr class="rowOdd">
			<td>False Positives</td>
			<td>$FP_TODAY$</td>
			<td>$FP_THIS_HOUR$</td>
		</tr>
		<tr class="rowEven">
			<td>Inoculations</td>
			<td>$INOC_TODAY$</td>
			<td>$INOC_THIS_HOUR$</td>
		</tr>
		<tr class="rowOdd">
			<td>Corpusfeds</td>
			<td>$CORPUS_TODAY$</td>
			<td>$CORPUS_THIS_HOUR$</td>
		</tr>
		<tr class="rowEven">
			<td>Whitelisted</td>
			<td>$WHITE_TODAY$</td>
			<td>$WHITE_THIS_HOUR$</td>
		</tr>
		<tr class="rowOdd">
			<td>Virus Infected</td>
			<td>$VIRUS_TODAY$</td>
			<td>$VIRUS_THIS_HOUR$</td>
		</tr>
		<tr class="rowEven">
			<td>Blacklisted</td>
			<td>$BLACK_TODAY$</td>
			<td>$BLACK_THIS_HOUR$</td>
		</tr>
		<tr class="rowOdd">
			<td>Blocklisted</td>
			<td>$BLOCK_TODAY$</td>
			<td>$BLOCK_THIS_HOUR$</td>
		</tr>
		<tr class="rowHighlight">
			<td>Total</td>
			<td>$TOTAL_TODAY$</td>
			<td>$TOTAL_THIS_HOUR$</td>
		</tr>
	</table>

	<table border="0" cellspacing="0" cellpadding="4">
		<tr>
			<th>Status</th>
			<th>Current Value</th>
		</tr>
		<tr class="rowEven">
			<td>Average message processing time</td>
			<td>$AVG_PROCESSING_TIME$ sec.</td>
		</tr>
		<tr class="rowOdd">
			<td>Average throughput</td>
			<td>$AVG_MSG_PER_SECOND$ messages/sec.</td>
		</tr>
		<tr class="rowEven">
			<td>DSPAM instances</td>
			<td>$DSPAM_PROCESSES$ processes</td>
		</tr>
		<tr class="rowOdd">
			<td>System uptime</td>
			<td>$UPTIME$</td>
		</tr>
		<tr class="rowEven">
			<td>Mail queue length</td>
			<td>$MAIL_QUEUE$ messages</td>
		</tr>
	</table>
</div>

<div class="content">
	<h3><strong>24 Hour Activity</strong> - $TS_DAILY$ SPAM, $TI_DAILY$ Good, $SM_DAILY$ Spam Misses, $FP_DAILY$ False Positives, $INOC_DAILY$ Inoculations, $CORPUS_DAILY$ Corpusfeds, $WHITE_DAILY$ Whitelisted, $VIRUS_DAILY$ Virus, $BLACK_DAILY$ Blacklisted, $BLOCK_DAILY$ Blocklisted</h3>
	<img src="./admingraph.cgi?data=$DATA_DAILY$&amp;x_label=hour&amp;language=$LANG$" alt="24 hour activity graph">
</div>

<div class="content">
	<h3><strong>Daily Activity</strong> - $TS_WEEKLY$ SPAM, $TI_WEEKLY$ Good, $SM_WEEKLY$ Spam Misses, $FP_WEEKLY$ False Positives, $INOC_WEEKLY$ Inoculations, $CORPUS_WEEKLY$ Corpusfeds, $WHITE_WEEKLY$ Whitelisted, $VIRUS_WEEKLY$ Virus, $BLACK_WEEKLY$ Blacklisted, $BLOCK_WEEKLY$ Blocklisted</h3>
	<img src="./admingraph.cgi?data=$DATA_WEEKLY$&amp;graph=period&amp;x_label=date&amp;language=$LANG$" alt="daily activity graph">
</div>

</div>



</body>
</html>
